header {
    font-size: x-large;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: aqua;
}
ul > li {
    padding: 10px;
}

body {
    margin: 0;
    background-color: antiquewhite;
}
